# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vs...error
/.vs
.vs/

# prob1 except source code
prob1/x64/
prob1/x64
prob1/prob1.vcxproj
prob1/prob1.vcxproj.filters
prob1/prob1.vcxproj.user
prob1/Debug/
prob1/Debug


/x64
x64/

/prob1.sln
/Debug/prob1.pdb
